$default-theme: (
    background-color: $color-blue,
    border-color: $color-blue,
);

$red-theme: (
    background-color: $color-red,
    border-color: $color-red
);

$themes: (
    default: $default-theme,
    red: $red-theme
);

@mixin base-background($themes: $themes) {
    @each $theme-name, $map in $themes {
        .theme-#{$theme-name} & {
            $theme-map: () !global;
            @each $key, $value in $map {
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;

            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}